In [3]:
import pandas as pd

codap_df = pd.read_csv(r'CODAP_NA_v2021.csv', low_memory=False) # placed into group 9 project directory
zooplankton_df = pd.read_excel(r'BATS_zooplankton.xlsx') # placed into group 9 project directory
display(codap_df) #easier to view vs. print()
display(zooplankton_df)

,Sample_ID,Year_UTC,Month_UTC,Day_UTC,Time_UTC,Latitude,Longitude,Depth_bottom,Max_sample_depth,CTDPRES,...,Aragonite,Calcite,Revelle_Factor,Silicate,Phosphate,Nitrate,Nitrite,Nitrate_and_Nitrite,recommended_Nitrate_and_Nitrite,Ammonium
0,n.a,n.a.,n.a.,n.a.,[hh:mm:ss],decimal_degrees,decimal_degrees,[m],[m],[dbar],...,n.a.,n.a.,n.a.,[umol/kg],[umol/kg],[umol/kg],[umol/kg],[umol/kg],[umol/kg],[umol/kg]
1,10501,2008,4,1,0.446238426,56.509,-170.8147,122,113.9,115,...,1.2,1.91,16.2,50.8,1.98,25.8,0.19,25.99,25.99,0.14
2,10502,2008,4,1,0.446238426,56.509,-170.8147,122,113.9,101,...,1.26,2,15.86,50,1.96,25.6,0.2,25.8,25.8,0.13
3,10503,2008,4,1,0.446238426,56.509,-170.8147,122,113.9,60,...,1.35,2.15,15.35,45.6,1.87,24,0.15,24.15,24.15,0.41
4,10504,2008,4,1,0.446238426,56.509,-170.8147,122,113.9,42,...,1.37,2.19,15.22,43.1,1.79,22.6,0.17,22.77,22.77,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28202,464,2017,9,28,0.691122685,44.1972,-124.9835,-999,328.4,15,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
28203,465,2017,9,28,0.691678241,44.197,-124.9837,-999,328.4,9.7,...,2.09,3.27,12.11,-999,-999,-999,-999,-999,-999,-999
28204,466,2017,9,28,0.692071759,44.197,-124.9838,-999,328.4,5.1,...,2.18,3.4,11.82,-999,-999,-999,-999,-999,-999,-999
28205,467,2017,9,28,0.692395833,44.1968,-124.984,-999,328.4,2.3,...,2.19,3.42,11.79,-999,-999,-999,-999,-999,-999,-999
28206,468,2017,9,28,0.692488426,44.1968,-124.984,-999,328.4,2.2,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

,Cruise #,Date,Lat_D,Lat_Min,Long_D,Long_Min,Max_Depth,Volume_Water,Sieve_size_um,wet_weight_mg,dry_weight_mg,wet_to_volume,dry_to_volume,total_wet_vol,total_dry_volume,200m_wet_volume,200_dry_volume,200_total_wet_volume,200_total_dry_volume
0,20066,19940406,31,33.890,63,52.450,-999.0,135.501,200,2460.0,210.4,18.15,1.55,53.73,4.22,3630.98,310.55,10745.33,843.69
1,20066,19940406,31,33.890,63,52.450,-999.0,135.501,500,1220.0,120.2,9.00,0.89,53.73,4.22,1800.73,177.42,10745.33,843.69
2,20066,19940406,31,33.890,63,52.450,-999.0,135.501,1000,2200.0,110.4,16.24,0.81,53.73,4.22,3247.22,162.95,10745.33,843.69
3,20066,19940406,31,33.890,63,52.450,-999.0,135.501,2000,940.0,94.4,6.94,0.70,53.73,4.22,1387.45,139.34,10745.33,843.69
4,20066,19940406,31,33.890,63,52.450,-999.0,135.501,5000,460.0,36.2,3.39,0.27,53.73,4.22,678.96,53.43,10745.33,843.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6649,10368,20200228,31,40.581,64,11.449,193.0,627.565,200,2120.2,411.4,3.38,0.66,16.49,2.90,675.69,131.11,3298.78,580.85
6650,10368,20200228,31,40.581,64,11.449,193.0,627.565,500,1941.6,408.0,3.09,0.65,16.49,2.90,618.77,130.03,3298.78,580.85
6651,10368,20200228,31,40.581,64,11.449,193.0,627.565,1000,2535.4,615.4,4.04,0.98,16.49,2.90,808.01,196.12,3298.78,580.85
6652,10368,20200228,31,40.581,64,11.449,193.0,627.565,2000,118.0,312.8,0.19,0.50,16.49,2.90,37.61,99.69,3298.78,580.85
6653,10368,20200228,31,40.581,64,11.449,193.0,627.565,5000,3635.8,75.0,5.79,0.12,16.49,2.90,1158.70,23.90,3298.78,580.85