# Group 9 Project Data Pre-Processing Description - Ocean Acidification

### We plan to research how increased ocean acidification affect the broader coastal ecosystem. This can be broken down into two specific research questions:
#### 1) Is the increase in ocean acidity associated with a net decrease in coastal biodiversity?
#### 2) What are the socio-economic and health-related impacts of ocean acidification.
#### By socio-economic impacts, we are discussing the societal and human impact of ocean and marine health, such as impacts on the fishing industry as well as coastal resilience efforts.

In [2]:
import pandas as pd

codap_df = pd.read_csv(r'CODAP_NA_v2021.csv', low_memory=False) # placed into group 9 project directory
zooplankton_df = pd.read_excel(r'BATS_zooplankton.xlsx') # placed into group 9 project directory
print(codap_df)
print(zooplankton_df)

# function that takes user column input and outputs subset of dataset
def col_subset_func(ds, cname): # WORK IN PROGRESS, STILL NOT WORKING
    success = False
    while not success: #try/except function first tests read_csv and then read_excel depending on file format
        try:
            df = pd.read_csv(ds)
            print_df = df[cname]
            print_df.head()
            success = True
        except: 
            print("Dataset is in .xlsx format")
    else: 
         df = pd.read_excel(ds)
         print_df = df[cname]
         print_df.head()
         success = True

col_subset_func('CODAP_NA_v2021.csv', 'Accession')

      Accession      EXPOCODE Cruise_flag Cruise_ID Observation_type  \
0          n.a.          n.a.        n.a.      n.a.             n.a.
1        144549  33HQ20080329           B   HLY0802           Niskin
2        144549  33HQ20080329           B   HLY0802           Niskin
3        144549  33HQ20080329           B   HLY0802           Niskin
4        144549  33HQ20080329           B   HLY0802           Niskin
...         ...           ...         ...       ...              ...
28202    208230    3.3222E+11           A    SH1709           Niskin
28203    208230    3.3222E+11           A    SH1709           Niskin
28204    208230    3.3222E+11           A    SH1709           Niskin
28205    208230    3.3222E+11           A    SH1709           Niskin
28206    208230    3.3222E+11           A    SH1709           Niskin

      Profile_number Station_ID Cast_number Niskin_ID Niskin_flag  ...  \
0               n.a.       n.a.        n.a.      n.a.        n.a.  ...
1                  1          1           5         1           2  ...
2                  1          1           5         2           2  ...
3                  1          1           5         3           2  ...
4                  1          1           5         4           2  ...
...              ...        ...         ...       ...         ...  ...
28202           3391       HB07           1         7           2  ...
28203           3391       HB07           1         8           2  ...
28204           3391       HB07           1         9           2  ...
28205           3391       HB07           1        10           2  ...
28206           3391       HB07           1        11           2  ...

         Nitrate Nitrate_flag    Nitrite Nitrite_flag Nitrate_and_Nitrite  \
0      [umol/kg]         n.a.  [umol/kg]         n.a.           [umol/kg]
1           25.8            2       0.19            2               25.99
2           25.6            2        0.2            2                25.8
3             24            2       0.15            2               24.15
4           22.6            2       0.17            2               22.77
...          ...          ...        ...          ...                 ...
28202       -999            9       -999            9                -999
28203       -999            9       -999            9                -999
28204       -999            9       -999            9                -999
28205       -999            9       -999            9                -999
28206       -999            9       -999            9                -999

      Nitrate_and_Nitrite_flag recommended_Nitrate_and_Nitrite  \
0                         n.a.                       [umol/kg]
1                            2                           25.99
2                            2                            25.8
3                            2                           24.15
4                            2                           22.77
...                        ...                             ...
28202                        9                            -999
28203                        9                            -999
28204                        9                            -999
28205                        9                            -999
28206                        9                            -999

      recommended_Nitrate_and_Nitrite_flag   Ammonium Ammonium_flag
0                                     n.a.  [umol/kg]          n.a.
1                                        2       0.14             2
2                                        2       0.13             2
3                                        2       0.41             2
4                                        2       -999             9
...                                    ...        ...           ...
28202                                    9       -999             9
28203                                    9       -999             9
28204                                    9       -999             9
28205                                    9       -999             9
28206                                    9       -999             9

[28207 rows x 73 columns]
                          % /BATS zooplankton Data   Unnamed: 1  Unnamed: 2  \
0     % BATS66a (April 1994) to BATS 368 (Feb 2020)         NaN         NaN
1               % Cruise # is listed as 5 digit ID.         NaN         NaN
2                     % First digit is cruise type.         NaN         NaN
3                                  %  1 = BATS core         NaN         NaN
4                               %  2 = BATS bloom A         NaN         NaN
...                                             ...         ...         ...
6684                                          10368  20200228.0         4.0
6685                                          10368  20200228.0         4.0
6686                                          10368  20200228.0         4.0
6687                                          10368  20200228.0         4.0
6688                                          10368  20200228.0         4.0

      Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
6684        31.0      40.581        64.0      11.449      2243.0      2325.0
6685        31.0      40.581        64.0      11.449      2243.0      2325.0
6686        31.0      40.581        64.0      11.449      2243.0      2325.0
6687        31.0      40.581        64.0      11.449      2243.0      2325.0
6688        31.0      40.581        64.0      11.449      2243.0      2325.0

      Unnamed: 9  ...  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0            NaN  ...          NaN          NaN          NaN          NaN
1            NaN  ...          NaN          NaN          NaN          NaN
2            NaN  ...          NaN          NaN          NaN          NaN
3            NaN  ...          NaN          NaN          NaN          NaN
4            NaN  ...          NaN          NaN          NaN          NaN
...          ...  ...          ...          ...          ...          ...
6684        42.0  ...       2120.2        411.4         3.38         0.66
6685        42.0  ...       1941.6        408.0         3.09         0.65
6686        42.0  ...       2535.4        615.4         4.04         0.98
6687        42.0  ...        118.0        312.8         0.19         0.50
6688        42.0  ...       3635.8         75.0         5.79         0.12

      Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  \
0             NaN          NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
6684        16.49          2.9       675.69       131.11      3298.78
6685        16.49          2.9       618.77       130.03      3298.78
6686        16.49          2.9       808.01       196.12      3298.78
6687        16.49          2.9        37.61        99.69      3298.78
6688        16.49          2.9      1158.70        23.90      3298.78

      Unnamed: 22
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
6684       580.85
6685       580.85
6686       580.85
6687       580.85
6688       580.85

[6689 rows x 23 columns]

C:\Users\HP\AppData\Local\Temp/ipykernel_7328/442492081.py:25: DtypeWarning: Columns (0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72) have mixed types.Specify dtype option on import or set low_memory=False.
  col_subset_func('CODAP_NA_v2021.csv', 'Accession')

ValueError: Excel file format cannot be determined, you must specify an engine manually.

There is no major data missing from either dataset. Each dataset contains exclusively raw measurement data of several oceanographic variables, the most important being:
**CODAP_NA_v2021**: 
This dataset includes discrete measurements from 2003 to 2018. An image showing measurement coverage is included in the project directory. Geographically, this area covers: U.S. West Coast, U.S. East Coast, Gulf of Mexico, Gulf of Alaska, Bering Sea, North Atlantic Ocean, and the North Pacific Ocean. The origin of the data is the NOAA Ocean Acidification Program (OAP). 
* General locational data
    - dates, lat, long, cruise identification numbers
* Dissolved inorganic carbon (DIC)
    - carbon deposits can either be organic or inorganic and dissolved or particulate
* Total alkalinity
* pH
* Continous and discrete seawater pCO2
    - dissolved CO2 concentrations
* Carbonate concentrations 
    - spectrophotometer
* Aragonite & calcite saturation
    - carbonite sources as an alternative measurement system for dissolved carbonite concentrations
* Revelle factor
    - ratio of CO2 change to change in total dissolved inorganic carbon (DIC)
* Oxygen concentration
* Apparent oxygen utilization 
    - measured dissolved oxygen concentration and its equilibrium saturation concentration in water with the same physical and chemical properties
* Various dissolved chemical concentrations important for biological life
    - silicate, phosphate, nitrate, nitrites, ammonium
* CTD measurements 
    - conductivity, temperature and depth measurements, includes salinity and pressure 

**BATS_zooplankton**
This dataset is sourced from the Bermuda Institute of Ocean Sciences and primarily measures zooplankton biomass. The range of data collection is from 1994 to 2020, with discrete measurement sampling. One of the major hypotheses that this study aims to answer is: *changes in seawater CO2-carbonate chemistry and ocean acidification indicators at BATS are the longest record in the global ocean and comparable to the six other globally distributed time-series (Bates et al., 2012; 2014)*, so this dataset is topical to our data analysis and visualization focus. 
* General locational data
* Max depth of sampling
* Volume of water sampled
    - volume of water sampled has significant influence on the concentration of ions and other carbonate-related minerals that might have an influence on zooplankton concentrations
* Weight of zooplankton biomass
    - wet weight and dry weight, ratios of weight-to-volume, total weights accounting for all size fractions of zooplankton